@model TModel

@{
}

<table>
    <thead>
    <td>Title</td>
    <td>Category</td>
    <td>Year</td>
    <td>Director</td>
    <td>Rating</td>
    <td>Edited</td>
    <td>Lent To</td>
    <td>Copied To Plex</td>
    <td>Notes</td>
    </thead>
    <tbody>
    
    </tbody>
    
</table>